{% extends "artists/base.html"%}

{% block content %}
<h3>Choose an Artist</h3>
<ul>
  {% for artist in latest_artist %}
  <li>
    <a href="/artists/{{ artist.id }}/">
      {{artist.name}}
    </a>
  </li>
  {% empty %}
  <li>No artists have been added yet.</li>
  {% endfor %}
</ul>
<form action="{% url 'history:addArtist' %}" method="post">
  {% csrf_token %}
  <input type="text" name="artistName" />
  <input type="text" name="artistEstablished" />
  <input type="submit" value="Add New Artist" />
</form>


{% endblock content %}